@model TaskItem
<div data-type="content" data-id="@Model.Id" data-content-id="@Model.Id">
    @if (Model is ICommentable commentable) {
        <section class="content-comments my-3 section-comments">            
            <div class="list-group comments" data-container="comments">
                @Html.Partial("_Comments", commentable.Comments())
            </div>
            @Html.Partial("_CommentForm", commentable, new ViewDataDictionary() { { "container", ".comments" } })
        </section>
    }
</div>
