<a class="btn btn-icon btn-link px-0 d-standalone" href="@Url.Back(WeavyRequestContext.Current.ApplicationPath)" data-turbolinks="false">@Svg.Icon("arrow-left")<span>Back</span></a>
<button class="btn btn-icon btn-link px-0 d-embedded" onclick="weavy.postal.post({ name: 'reset' });">@Svg.Icon("arrow-left")<span>Back</span></button>
